$bodycolor: #f9f6ef;
$blue: #3bbfce;

// html,
// body {
//   height: 100%;
// }

// body {
//   overflow: hidden;
//   background: $bodycolor;
// }

h2 {
    font-size: 20px;
}

.place {
  margin: auto;
}

.cardsize {
  width: 300px;
  height: 400px;
}

.board {
  width: 28%;
}

.inline { 
  display: inline-block;
  border: 1px solid rgb(13, 185, 148); 
  margin:20px;
  }

  .logo_img {
    float: left
  }

  .board_img {
    max-width: 100%;
    width: auto;
  }
  .board_descr {
    font-size: 16px;
  }

  * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  .slider-block {
    margin-top: 30px;
  }

  .card .card-action {
    padding: 5px;
  }

  .row{
    display: flex;
    justify-content: center;
  }